<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sensorapp">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.SensorApp">
        <activity
            android:name=".CommunicationActivity"
            android:exported="false"
            android:parentActivityName=".DeveloperViewActivity"
            android:screenOrientation="portrait"
            android:label=""/>
        <activity
            android:name=".SensorFusionActivity"
            android:exported="false"
            android:parentActivityName=".DeveloperViewActivity"
            android:screenOrientation="portrait"
            android:label=""/>
        <activity
            android:name=".ConfirmMessageActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:label=""/>
        <activity
            android:name=".UserInputActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity"
            android:label="New User"/>
        <activity
            android:name=".DeveloperViewActivity"
            android:exported="false"
            android:parentActivityName=".UserViewActivity"
            android:screenOrientation="portrait"
            android:label="Settings Page"/>
        <activity
            android:name=".UserViewActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:label="User Page"/>
        <activity
            android:name=".MapActivity"
            android:exported="false"
            android:parentActivityName=".SensorInputActivity"
            android:screenOrientation="portrait"
            android:label=""/>
        <activity
            android:name=".SpeedoMeterActivity"
            android:exported="false"
            android:parentActivityName=".SensorInputActivity"
            android:screenOrientation="portrait"
            android:label=""/>
        <activity
            android:name=".GraphViewActivity"
            android:exported="false"
            android:parentActivityName=".SensorInputActivity"
            android:screenOrientation="portrait"
            android:label=""/>
        <activity
            android:name=".SensorInputActivity"
            android:exported="false"
            android:parentActivityName=".DeveloperViewActivity"
            android:screenOrientation="portrait"
            android:label="Sensor Data"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:label="Pedestrian-Warn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>